@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
a.barikoi-logo-container {
  display: none !important;
  visibility: hidden !important;
}
.banner {
  animation: change 10s infinite ease-in-out;
}
[data-slot="panel"] {
  width: 100% !important;
}
@keyframes change {
  0% {
    background-image: url(https://i.imgur.com/k4nTDFI.jpg);
  }
  33% {
    background-image: url(https://i.imgur.com/cGTZRhj.jpg);
  }
  66% {
    background-image: url(https://i.imgur.com/RFn1dtN.jpg);
  }

  100% {
    background-image: url(https://media.gucci.com/dynamic/b3c8/62jKhNWbS0bdozWsuG+03bV_jt3RFQUtK6SWIufytgDm2YybiQOvmcLZyXaRvMN_gojkFHPLL6_voEbGN+sN69OnAwlmDZz9SZwQpqYo2C3UsyLMyE5rnRGEeAG17A3fqzBR89Bx1z8_6gOBEU6WACs9KanFcuiTAWbKmmRi0elE98FHsdfOqbY0YrfdCBhDyTPYt9dhtZN+HLI_Lu9xmwfQi3u8V1g9NG8h_Y3MAk4nteR_inFRBBRaF3TnnWJoTOppuHTtPB3XhwtgfuZtOrfMC6GuwbN20zdCrsBpHUx4sCntOdOMGCjetWuAJ8D7lRg5ccVez2eWqDuRgUxiLYSFiuSS+VJR24IZy5R3QxxM5Q5DWbLzWRITI+j1Dx5lroZVDgo4DG9uCzJqQw2p6g==/Gucci_HP_Desktop_CinamaticLandscape_Routing1UP_Gucci-FallWinter23-Collection-July23-010.png);
  }
}
.home-card img:hover {
  -webkit-filter: brightness(40%);
}
.category-card {
  -webkit-filter: brightness(40%);
}
::-webkit-scrollbar-thumb {
  border: 0 #fff;
  background: #c3073f;
  border-width: 50px;
  border-radius: 10px;
  height: 2px;
  width: 2px;
}
div#react-aria57602501-\:rv\:-tabpanel-Adidas {
  width: 100% !important;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.gallery .swiper-slide {
  width: 25%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  opacity: 0.1;
}
.gallery .swiper-slide-active {
  opacity: 1;
}
.gallery::before {
  background-image: none !important;
}
.gallery::after {
  background-image: none !important;
}
.gallery::after {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  top: 0;
  content: "";
  background-image: linear-gradient(to top, #0c0c2100 0%, #040405 95%);
  z-index: 1;
  pointer-events: none;
}
.gallery::before {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  content: "";
  background-image: linear-gradient(to bottom, #0c0c2100 0%, #040405 95%);
  z-index: 1;
  pointer-events: none;
}
.input input {
  text-align: center !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000000d1 !important;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
